@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #6C28D9;
--color-slate: #364154;
--color-surface: #F6F3FF;
}

body {
  background: var(--background);
  color: var(--foreground);
}
