@import "tailwindcss";
:root {
  --bg: #FEFEFF;
  --primary: #6C28D9;
  --text: #364154;

  --card: #ffffff;
  --card-border: rgba(108, 40, 217, 0.15);
  --card-bg-soft: rgba(108, 40, 217, 0.08);

  --muted: #8a8fa0;
}

body {
  background: var(--bg);
  color: var(--text);
}